<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <v-card class="logo py-4 d-flex justify-center">
        <remontee-logo />
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'

@Component({})
export default class IndexPage extends Vue {
  async onTestApiClick () {
    const { data } = await this.$api.system.example()
    console.log(data)
  }
}
</script>
