<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <v-card class="logo py-4 d-flex justify-center">
        <blockquote class="blockquote">
          &#8220;Во-первых, решить проблему. Затем напишите код.&#8221;
          <footer>
            <small>
              <em>&mdash;Джон Джонсон</em>
            </small>
          </footer>
        </blockquote>
      </v-card>
      <v-card class="test py-4 d-flex justify-center">
        <v-btn @click="onTestApiClick">
          Test Api Interface
        </v-btn>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'

@Component({})
export default class IndexPage extends Vue {
  async onTestApiClick () {
    const { data } = await this.$api.system.example()
    console.log(data)
  }
}
</script>
